<div class='wrapper'>
    <div class='form'>
        <h1>Exercício 1</h1>
        <div class='form__images' >
            <div *ngFor='let item of arrayEX1; let i = index;'>
                <img src='/assets/images/{{item}}.jpg' (click)='getName(item)'>
            </div>
        </div>
        <div>
            <input type='text' [(ngModel)]='currentImageEX1'>
        </div>
    </div>

        <div class='form'>
        <h1>Exercício 2</h1>
        <ul>
            <li *ngFor="let item of arrayEX2" (click)='showCapital(item)'>{{ item }}</li>
        </ul>
    </div>
</div>