<div class='player'>
    <h1 class='player__name'>{{ name }}</h1>
    <span>{{ capitalize('small-foward') }}</span>
    <img class="player__image" src="{{imagePath}}Lebron.jpg">
    
    <!-- NOTA: bind de eventos, propriedades -->
    <h1 (click)='showMessage()' class='{{ className }}'>{{ capitalize('lakers') }} </h1>
</div>

<div class='players__images'>
    <!-- NOTA: bind de atributos -->
    <img [class]='classPF' [src]='pathPF'>
    <img [class]='classPG' [src]='pathPG'>
    <img [class]='classC' [src]='pathC'>

    <button class='button' (click)='swapImages()'>Ver {{ currentTeam() }}</button>
</div>